<% if sums.any? %>
  <ul class="list-group">
    <% sums.each do |user, sum| %>
      <li class="list-group-item">
        <%= caption %>
        <span class="borrowing-name"><%= user_link user %></span>:
        <span class="borrow-amount"><%= sum %> EUR</span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No borrows found.</p>
<% end %>