<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, html: { class: "form-horizontal" } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <div class="form-group">
      	<%= f.label :name, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
		      <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
		      <%= f.submit @submit_text, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
