<h1>Users</h1>

<%= render 'shared/subnav', model: :user %>

<%= will_paginate @users, class: "pagination-container" %>

<% if @users.any? %>
	<div class="list-group">
	  <% @users.each do |user| %>
	    <a class="list-group-item" href="<%= user_path user %>">
	    	<span class="user-name"><%= user.name %></span>
	    </a>
	  <% end %>
	</div>
<% else %>
  <p>No users found.</p>
<% end %>

<%= will_paginate @users, class: "pagination-container" %>
