<h1>Users</h1>

<%= render 'shared/subnav', model: :user, var: @user %>

<h2>User details:</h2>
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @user.name %></dd>
</dl>

<h2>Borrow sums:</h2>
<%= render 'sums', sums: @sums_to, caption: "Borrowed to" %>
<%= render 'sums', sums: @sums_from, caption: "Is borrowing from" %>

<h2>Totals:</h2>
<% if @totals.any? %>
  <ul class="list-group">
    <% @totals.each do |user, sum| %>
      <li class="list-group-item">
        <% if sum > 0 %>
          Borrowed to
          <span class="borrowing-name"><%= user_link user %></span>:
        <% else %>
          Is boworring from
          <span class="borrower-name"><%= user_link user %></span>:
        <% end %>
        <span class="borrow-amount"><%= sum %> EUR</span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No borrows found.</p>
<% end %>