<div class="page-header">
  <h1>Users#totals</h1>
</div>

<h2>Total borrowings:</h2>
<% if @totals.any? %>
  <ul class="list-group">
    <% @totals.each do |user, amount| %>
      <li class="list-group-item">
        <% if amount > 0 %>
          <span class="borrower-name"><%= user_link user %></span> borrowed
          <span class="borrow-amount"><%= amount %> EUR.</span>
        <% else %>
          <span class="borrowing-name"><%= user_link user %></span> is borrowing
          <span class="borrow-amount"><%= -amount %> EUR.</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No borrows found.</p>
<% end %>

<h2>Suggested solve:</h2>
<% if @solve.any? %>
  <ul class="list-group">
    <% @solve.each do |solve| %>
      <li class="list-group-item">
        <span class="borrower-name"><%= user_link solve[:user_from] %></span> pays
        <span class="borrowing-name"><%= user_link solve[:user_to] %></span>
        <span class="borrow-amount"><%= solve[:amount] %> EUR.</span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No solves found.</p>
<% end %>
