<% models_path = send("#{model}s_path") %>
<ul class="subnav nav nav-pills">
  <li role="presentation"<% if controller.action_name == 'index' %> class="active"<%end %>>
  	<%= link_to "Index", models_path %>
  </li>
  <li role="presentation"<% if controller.action_name == 'new' || controller.action_name == 'create' %> class="active"<% end %>>
  	<%= link_to "Create", [:new, model] %>
  </li>
  <li role="presentation"<% if controller.action_name == 'show' %> class="active"<% elsif !defined?(var) %> class="disabled"<% end %>>
  	<% if defined?(var) %><%= link_to "Details", [var] %><% else %><a href="#">Details</a><% end %>
  </li>
  <li role="presentation"<% if controller.action_name == 'edit' %> class="active"<% elsif !defined?(var) %> class="disabled"<% end %>>
  	<% if defined?(var) %><%= link_to "Edit", [:edit, var] %><% else %><a href="#">Edit</a><% end %>
  </li>
  <li role="presentation"<% if controller.action_name == 'delete' %> class="active"<% elsif !defined?(var) %> class="disabled"<% end %>>
  	<% if defined?(var) %><%= link_to "Delete", [var], method: :delete,
      data: { confirm: "Are you sure?" } %><% else %><a href="#">Delete</a><% end %>
  </li>
</ul>