/* Adjust threshold when navbar collapses to dropdown menu */
/* Must be set before bootstrap is imported */

$grid-float-breakpoint: 500px;

@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$color-link: #777;
$color-link-hover: #333;

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $color-link;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $color-link-hover;
    text-decoration: none;
  }
}

h1 {
  margin: 0 0 20px;
} 

/* subnavigation */

.subnav {
  margin: 0 0 20px;
}

/* pagination */

.pagination-container {
  margin-bottom: 20px;
}

.pagination {
  margin: 0;
}

/* footer */

footer {
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px solid $color-link;
  color: $color-link;
  a {
    color: $color-link;
    &:hover {
      color: $color-link-hover;
      text-decoration: none;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* inline search forms */

.form-inline .form-group, .form-inline .checkbox {
    margin-right: 10px;
}
