<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @borrow, html: { class: "form-horizontal" } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <div class="form-group">
        <%= f.label :borrower, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.collection_select :borrower_id, User.all, :id, :name, {}, class: 'form-control' %>
        </div>
      </div>
    
      <div class="form-group">
        <%= f.label :borrowing, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.collection_select :borrowing_id, User.all, :id, :name, {}, class: 'form-control' %>
        </div>
      </div>
    
      <div class="form-group">
        <%= f.label :amount, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :amount, class: 'form-control' %>
        </div>
      </div>
    
      <div class="form-group">
        <%= f.label :date, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.date_field :date, class: 'form-control',
            value: !@borrow.date.nil? ? @borrow.date.to_formatted_s(:daymonthyear) : nil %>
        </div>
      </div>
    
      <div class="form-group">
        <%= f.label :comment, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_area :comment, class: 'form-control' %>
        </div>
      </div>

      <% if @show_repaid_checkbox %>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <%= f.check_box :repaid %> Repaid
              </label>
            </div>
          </div>
        </div>
        <% end %>
    
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit @submit_text, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
