<h1>Borrows</h1>

<%= render 'shared/subnav', model: :borrow %>

<%= will_paginate @borrows, class: "pagination-container" %>

<div class="list-group">
  <%= form_tag '', method: :get, class: "form-inline list-group-item" do %>
    <div class="form-group">
      <%= label_tag :borrower %>
      <%= select_tag :borrower, options_for_select(@user_options, params[:borrower]), class: 'form-control', onchange: "this.form.submit();", include_blank: '(all)' %>
    </div>
    <div class="form-group">
      <%= label_tag :borrowing %>
      <%= select_tag :borrowing, options_for_select(@user_options, params[:borrowing]), class: 'form-control', onchange: "this.form.submit();", include_blank: '(all)' %>
    </div>
    <div class="checkbox">
      <label>
      <%= check_box_tag :repaid, 1, params[:repaid], onchange: "this.form.submit();" %> Show repaid
      </label>
    </div>
    <%= submit_tag "Filter", class: "btn btn-default" %>
  <% end %>
  <% if @borrows.any? %>
    <% @borrows.each do |borrow| %>
      <a class="list-group-item<% if borrow.repaid %> disabled<% end %>" href="<%= borrow_path borrow %>">
        <span class="borrow-date"><%= borrow.date.to_formatted_s(:daymonthyear) %></span>:
        <span class="borrower-name"><%= borrow.borrower.name %></span> borrowed
        <span class="borrowing-name"><%= borrow.borrowing.name %></span>
        <span class="borrow-amount"><%= borrow.amount %> EUR</span>
        <% if !borrow.comment.blank? %>for <span class="borrow-comment"><%= borrow.comment %></span><% end %>
      </a>
    <% end %>
  <% else %>
    <p>No borrows found.</p>
  <% end %>
</div>

<%= will_paginate @borrows, class: "pagination-container" %>
