<h1>Borrows</h1>

<%= render 'shared/subnav', model: :borrow, var: @borrow %>

<dl class="dl-horizontal">
  <dt>Borrower</dt>
  <dd><%= user_link @borrow.borrower %></dd>
  <dt>Borrowing</dt>
  <dd><%= user_link @borrow.borrowing %></dd>
  <dt>Amount</dt>
  <dd><%= @borrow.amount %> EUR</dd>
  <dt>Date</dt>
  <dd><%= @borrow.date.to_formatted_s(:daymonthyear) %></dd>
  <dt>Comment</dt>
  <dd><%= @borrow.comment %></dd>
  <dt>Repaid</dt>
  <dd><%= @borrow.repaid ? 'Yes' : 'No' %></dd>
</dl>
