<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "borrow app", root_path, id: 'logo' %>
    </div>
    <div class="collapse navbar-collapse" id="topnavbar">
      <ul class="nav navbar-nav navbar-right">
        <li<% if controller.controller_name == 'borrows' %> class="active"<% end %>><%= link_to "Borrows", borrows_path %></li>
        <li<% if controller.controller_name == 'users' && controller.action_name != 'totals' %> class="active"<% end %>><%= link_to "Users", users_path %></li>
        <li<% if controller.controller_name == 'users' && controller.action_name == 'totals' %> class="active"<% end %>><%= link_to "Totals", totals_users_path %></li>
      </ul>
    </div>
  </div>
</nav>
<a id="top"></a>